.container{
  width: 900px;
  height: 500px;
  padding: 0px 20px;
  margin: 0 auto;
  background-color: aliceblue;
  box-shadow: 2px grey;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}
.text-align{
  text-align: center;
}

.container-element{
  width: 30px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: dimgray;
  font-family: Arial, Helvetica, sans-serif;
}
