.container{
  width: 950px;
  height: 600px;
  padding: 0px 20px;
  margin: 0 auto;
  background-color: aliceblue;
  box-shadow: 0 0 10px grey;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}
.text-center{
  text-align: center;
}

.container-element{
  width: 270px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  background-color: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

.element-box{
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
  background-color: ghostwhite;
  box-shadow: 0 0 10px grey;
}

.transection-form input{
  width: 100%;
  margin: 10px 0px;
  padding: 5px;
}